@import '../../../style/variables';

.urlopApp {
    &__loginInput {
        height: 35px;
        width: 100%;
        border: none;
        border-bottom: 0.2px solid $primaryColor;
    }

    &__loginInput::placeholder {
        color: $primaryColor;
        width: 11px;
    }

}

#loginInput::placeholder{
    color: $secondaryColor;
    font-family: $second-Font;
    font-weight: 100;
}