@import '../../../style/variables';
@import '../../atoms/loginInput/loginInput';

.urlopApp {
    &__login {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 25px;
        width: 60%;
    }

    &__loginButton {
        width: 50%;
        color: $backgroundColor !important;
        font-family: $second-Font !important;
        font-weight: bold !important;
        margin-top: 15px !important;
    }

    &__recoveryButton {
        width: 75%;
    }


}
