$backgroundColor: #FFF;
$primaryColor: #3cb994;
$primaryColor-Dark:#2a8167;
$primaryColor-Light:#63c7a9;
$secondaryColor: #222c3e;
$secondaryColor-Dark: #171e2b;
$secondaryColor-Light: #4e5664;

$mobile-width: 375px;

$first-Font: 'Lato', sans-serif;
$second-Font: 'Roboto Mono', monospace;

$loginBg-borderRadiusLeft: 20%;
$loginBg-borderRadiusRight: 30%;