@import './reset';
@import '../pages/loginPage/loginPage';
@import '../components/organisms/userMenu/userMenu';
@import '../pages/userPage/userPage';

.urlopApp{
    width: 100vw;
    height: 100vh;
}

